
.photouppreview
	width: 100%
	background-color: white
	border: 3px solid red

.photopreview
	width: 240px
	background-color: white
	border: 3px solid blue

.photothumbnail
	width: 64px
	background-color: white
	border: 1px solid black