// Application level CSS

.fullscreen {
	height: 100vh;
}

.sidebar {
	/*width: 240px;*/
	overflow: auto;
	height: 100%;
}

.sidebar a {
	//font-weight: bold;
	color: white;	
	padding: 20px;
	line-height: 40px;
	font-weight: 900;
}

.sidebar a :hover {
		background-color: red;
}

.visible,
.hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.visible > div,
.hidden > div {
  /* Put any padding, border, min-height, etc. here. */
}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 1s;
}