// Application level CSS

header, main, footer {
  padding-left: 240px;
}

@media only screen and (max-width : 992px) {
  header, main, footer {
    padding-left: 0;
  }
}

/*.side-nav {*/
  /*background-color: #78909c; // blue-grey lighten-1  */
  /*padding-top: 40px !important;*/
/*}*/
/*.side-nav li {*/
  /*width: 240px;*/  
  /*font-weight: bold;*/
  /*color: #eceff1; // blue-grey lighten-5*/
  /*color: #004; */
  /*padding: 20px;*/
  /*line-height: 25px;*/
  /*font-weight: 900;  */
/*}*/

.visible,
.hidden {
  overflow: hidden;
  /* This container should not have padding, borders, etc. */
}
.visible {
  visibility: visible;
  opacity: 1;
  transition: opacity 1s linear;
}
.hidden {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 1s, opacity 1s linear;
}
.visible > div,
.hidden > div {
  /* Put any padding, border, min-height, etc. here. */
}
.hidden > div {
  margin-top: -10000px;
  transition: margin-top 0s 1s;
}