<div class="action-grid">
	<div class="action__item" url="/stoppages">
		<div class="action__title">Stoppages</div>
		<div class="action__icon"><i class="fa fa-pause-circle-o fa-lg"></i></div>
		<div class="action__text">
			View Stoppage events that are outside of regular scheduled maintenance.			
		</div>
	</div>
	<div class="action__item" url="/tasks">
		<div class="action__title">Tasks</div>
		<div class="action__icon"><i class="fa fa-server fa-lg"></i></div>
		<div class="action__text">
			Weekly Task Lists, which includes both scheduled maintenance and stoppage events.
		</div>
	</div>
	<div class="action__item" url="/sites">
		<div class="action__title">Sites</div>
		<div class="action__icon"><i class="fa fa-industry fa-lg"></i></div>
		<div class="action__text">
			Details of each factory, the machines at each factory, and the tools used on each machine.
		</div>
	</div>
	<div class="action__item" url="/machinetype">
		<div class="action__title">Machines</div>
		<div class="action__icon"><i class="fa fa-cubes fa-lg"></i></div>
		<div class="action__text">
			Define Machine types, tools and components.
		</div>
	</div>
	<div class="action__item" url="/class/select">
		<div class="action__title">Parts</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			Spare parts for all machines, including site level stock control.
		</div>
	</div>
	<div class="action__item" url="/users">
		<div class="action__title">Users</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			Account details for all system users in your area of operation.
		</div>
	</div>
	<div class="action__item" url="/reports">
		<div class="action__title">Reports</div>
		<div class="action__icon"><i class="fa fa-bar-chart fa-lg"></i></div>
		<div class="action__text">
			Reports.
		</div>
	</div>
	<div class="action__item" url="/util">
		<div class="action__title">Utilities</div>
		<div class="action__icon"><i class="fa fa-gear fa-lg"></i></div>
		<div class="action__text">
			Admin Utilities.
		</div>
	</div>
</div>