<div class="action-grid">
	<div class="action__item" url="phototest">
		<div class="action__title">PhotoMgr</div>
		<div class="action__icon"><i class="fa fa-camera-retro fa-lg"></i></div>
		<div class="action__text">
			Test Photo Uploads, and Manage existing photos.
		</div>
	</div>
	<div class="action__item" url="backup">
		<div class="action__title">Backup</div>
		<div class="action__icon"><i class="fa fa-database fa-lg"></i></div>
		<div class="action__text">
			Backup the database.
		</div>
	</div>
	<div class="action__item" url="top">
		<div class="action__title">Procs</div>
		<div class="action__icon"><i class="fa fa-tachometer fa-lg"></i></div>
		<div class="action__text">
			Web Server processes, memory usage and performance stats.
		</div>
	</div>
	<div class="action__item" url="logs">
		<div class="action__title">System Logs</div>
		<div class="action__icon"><i class="fa fa-search-plus fa-lg"></i></div>
		<div class="action__text">
			View the most recent system activity logs.
		</div>
	</div>
	<div class="action__item" url="sms">
		<div class="action__title">SMS Logs</div>
		<div class="action__icon"><i class="fa fa-phone fa-lg"></i></div>
		<div class="action__text">
			View all the outgoing SMS message logs.
		</div>
	</div>
	<div class="action__item" url="hashtag">
		<div class="action__title">HashTags</div>
		<div class="action__icon"><i class="fa fa-hashtag fa-lg"></i></div>
		<div class="action__text">
			Edit the Standard Checklist Hashtag library.
	  </div>
	</div>
	<div class="action__item" url="editor">
		<div class="action__title">Test Editor</div>
		<div class="action__icon"><i class="fa fa-edit fa-lg"></i></div>
		<div class="action__text">
		  Test the MarkDown editor.
	  </div>
	</div>
	{{if .}}
	<div class="action__item" url="machine">
		<div class="action__title">Machine</div>
		<div class="action__icon"><i class="fa fa-gears fa-lg"></i></div>
		<div class="action__text">
			Generate the Part Class for all the machines.
		</div>
	</div>
	<div class="action__item" url="part">
		<div class="action__title">Part Class</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			Generate the Part Class for all the parts.
		</div>
	</div>
	<div class="action__item" url="cat">
		<div class="action__title">Categories</div>
		<div class="action__icon"><i class="fa fa-adjust fa-lg"></i></div>
		<div class="action__text">
			Setup Parts Categories
		</div>
	</div>
	<div class="action__item" url="mtt">
		<div class="action__title">MachineTypes</div>
		<div class="action__icon"><i class="fa fa-cubes fa-lg"></i></div>
		<div class="action__text">
			Setup Machine Type Links
		</div>
	</div>
	<div class="action__item" url="photomove">
		<div class="action__title">MovePhotos</div>
		<div class="action__icon"><i class="fa fa-arrows-h fa-lg"></i></div>
		<div class="action__text">
			Move Photos into their own table
		</div>
	</div>
	{{end}}
</div>