<div class="data-container">

  <form class="grid-form">
    <fieldset>
      <div class="row data-table-header">
        <h3 class="column column-90" id="legend">
          <i class="fa fa-text fa-lg" style="font-size: 3rem"></i>
          <span id="titletext">Details for Part Type {{.Name}} - {{.Descr}}</span>
        </h3>
      </div>

      <div data-row-span="3">
        <div data-field-span="1">
          <label>Name</label>
          <input type="text" id="class-name" value="{{.Name}}" readonly>
        </div>
        <div data-field-span="2">
          <label>Description</label>
          <input type="text" id="class-descr" value="{{.Descr}}" readonly>
        </div>
      </div>
    </fieldset>
  </form>

</div>
<div id="parts-list-goes-here"></div>
