<div class="action-grid">
	<div class="action__item" url="/task/complete/{{.}}">
		<div class="action__title">Stoppages</div>
		<div class="action__icon"><i class="fa fa-thumbs-up fa-lg"></i></div>
		<div class="action__text">
			View Stoppage events that are outside of regular scheduled maintenance.			
		</div>
	</div>
	<div class="action__item" url="/task/parts/{{.}}">
		<div class="action__title">Parts</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			Select Spare Parts used in this job.
		</div>
	</div>
</div>