<div class="action-grid">
	<div class="action__item" url="/hash/used/{{.}}">
		<div class="action__title">Search</div>
		<div class="action__icon"><i class="fa fa-search fa-lg"></i></div>
		<div class="action__text">
			Find scheduled tasks where this hashtag is used.
		</div>
	</div>
</div>