<div class="container">
<form id="loginform">
  <fieldset>
    <label for="l-username">Name</label>
    <input type="text" placeholder="User Name" id="l-username">
    <label for="l-passwd">Password</label>
    <!-- <input type="password" placeholder="Password" id="l-passwd"> -->
    <input type="text" placeholder="Password" id="l-passwd">
    <div class="remember-me">
      <input type="checkbox" id="l-remember">
      <label class="label-inline" for="l-remember">Remember Me</label>
    </div>
    <input class="button" type="submit" value="Login" id="l-loginbtn">
  </fieldset>
</form>
</div>
