<!-- Login Screen, initially hidden -->
<div class="container" id="loginform">
  <form>
  <div class="row">
    <div class="col s6 offset-s3">
      <h3 class="center-align">Login</h3>        
      <div class="row">
        <div class="input-field col s12">
          <input id="l-username" type="text" class="validate" placeholder="User Name">
          <label for="l-username" class="active">User Name</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s12">
          <input id="l-passwd" type="password" class="validate" placeholder="Password">
          <label for="l-passwd" class="active">Password</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s6">
          <input id="l-remember" type="checkbox">
          <label for="l-remember">Remember Me ?</label>
        </div>
        <div class="input-field col s6">
          <button id="l-loginbtn" class="btn btn-large waves-effect waves-light" name="Login" type="submit">Login</button>
        </div>
      </div>
    </div>
  </div>
  </form>
</div>
