<div class="action-grid">
	<div class="action__item" url="stoppages">
		<div class="action__title">Stoppages</div>
		<div class="action__icon"><i class="fa fa-pause-circle-o fa-lg"></i></div>
		<div class="action__text">
			List all stoppages for machines of this type.
		</div>
	</div>
	<div class="action__item" url="machines">
		<div class="action__title">Machines</div>
		<div class="action__icon"><i class="fa fa-gears fa-lg"></i></div>
		<div class="action__text">
			List of actual machines of this type installed in various Sites.
		</div>
	</div>
	<div class="action__item" url="tools">
		<div class="action__title">Tools</div>
		<div class="action__icon"><i class="fa fa-cubes fa-lg"></i></div>
		<div class="action__text">
			Tools list for this type of machine.
		</div>
	</div>
	<div class="action__item" url="parts">
		<div class="action__title">Parts</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			Complete parts list for this type of machine.
		</div>
	</div>
</div>