<div class="data-container">

  <form class="grid-form">
    <fieldset>
      <legend>
        <h3>
          <i class="fa fa-cogs fa-lg" style="font-size: 3rem"></i>
          Machine Details - {{.Machine.Name}} - {{.Machine.SiteName}}
        </h3>
      </legend>
      <div data-row-span="3">
        <div data-field-span="1">
          <label>Name</label>
          <input type="text" name="name" value="{{.Machine.Name}}">
        </div>
        <div data-field-span="1">
          <label>Serial #</label>
          <input type="text" name="serialnum" value="{{.Machine.Serialnum}}">
        </div>
        <div data-field-span="1">
          <label>Status</label>
          <input type="text" disabled name="status" value="{{.Machine.Status}}">
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Description</label>
          <input type="text" name="descr" value="{{.Machine.Descr}}">
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Notes</label>
          <textarea id="notes" name="notes">{{.Machine.Notes}}</textarea>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="column">
        <div class="button-bar">
          <input type="button" class="button-outline md-close" value="Cancel">
          <button class="button-primary md-save">Save</button>                        
        </div>
      </div>
    </div>
  </form>

</div>
<div id="action-grid"></div>
