<div class="data-container">
  <div class="row data-table-header">
    <h3 class="column column-90" id="legend">
      <i class="fa fa-server fa-lg" style="font-size: 3rem"></i>
       SchedMaint - {{.Machine.Name}} - {{.Machine.SiteName}} - HardCoded
    </h3>
    <div class="column col-center">
      <i class="data-add-btn fa fa-plus-circle fa-lg"></i>    
    </div>
  </div>
  <table class="data-table" id="machine-sched-list">
    <thead>
      <tr>
        <th>Tool / Component</th>
        <th>Descr</th>
        <th>Frequency</th>
        <th>$ Labour</th>
        <th>$ Materials</th>
      </tr>
    </thead>
    <tbody>
  {{$machine := .Machine}}
  {{range .Tasks}}  
      <tr class="data-row" 
          key="{{.ID}}">
        <td>{{.ShowComponent $machine}}</td>
        <td>{{.Descr}}</td>
        <td>{{.ShowFrequency}}</td>
        <td>{{.LabourCost}}</td>
        <td>{{.MaterialCost}}</td>
      </tr>
  {{end}}  
    </tbody>
  </table>

  <!-- Entry form -->

<div id="popup-form" class="md-modal md-effect-1">
  <form class="grid-form md-content">
    <h5>Add Scheduled Maintenance for {{.Machine.Name}} - {{.Machine.SiteName}}</h3>
    <fieldset>
      <div data-row-span="2">
        <div data-field-span="1">
          <!-- <label>Frequency</label> -->
          <select name="freq" id="freq">
            <option value="M" title="Monthly" selected>Monthly</option>
            <option value="Y" title="Yearly">Yearly</option>
            <option value="D" title="Every N Days">Every N Days</option>
            <option value="1" title="One Off">One Off</option>
            <option value="C" title="Job Count">Job Count</option>
          </select>
        </div>
        <div data-field-span="1">
          <div class="task-option task-show" id="freq-0">
            <label>Week of the Month</label>
            <label><input type="radio" name="week" value="1" checked="checked"> 1st Week</label>
            <label><input type="radio" name="week" value="2"> 2nd Week</label>
            <label><input type="radio" name="week" value="3"> 3rd Week</label>
            <label><input type="radio" name="week" value="4"> 4th Week</label>
          </div>
          <div class="task-option" id="freq-1">
            <label>Day of the Year</label>
            <input type="date" name="startdate">
          </div>
          <div class="task-option" id="freq-2">
            <label>Number of Days</label>
            <input type="number" name="days">
          </div>
          <div class="task-option" id="freq-3">
            <label>One Off Date</label>
            <input type="date" name="oneoffdate">
          </div>
          <div class="task-option" id="freq-4">
            <label>Job Count</label>
            <input type="number" name="count">
          </div>
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Tool / Component</label>
          <select name="component" id="component">
            <optgroup>
              <option tt="A" value="All">General Machine Maintenance</option>
            </optgroup>
            <optgroup label="Specific Tool">
            {{range .Machine.Components}}
              <option tt="T" value="{{.ID}}">{{.Name}}</option>
            {{end}}
            </optgroup>
            <optgroup label="Other Components">
              <option tt="C" value="RollBed">Roll Bed</option>
              <option tt="C" value="Uncoiler">Uncoiler</option>
              <option tt="C" value="Electrical">Electrical</option>
              <option tt="C" value="Hydraulic">Hydraulic</option>
              <option tt="C" value="Lube">Lube</option>
              <option tt="C" value="Printer">Printer</option>
              <option tt="C" value="Console">Console</option>
            </optgroup>
          </select>
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Task Description</label>
          <textarea class="task-notes" id="descr" name="descr">{{.EditTask.Task.Descr}}</textarea>
        </div>
      </div>
      <div data-row-span="2">
        <div data-field-span="1">
          <label>Labour Cost</label>
          <input type="text" name="labourcost" value="{{.EditTask.Task.LabourCost}}">
        </div>
        <div data-field-span="1">
          <label>Material Cost</label>
          <input type="text" name="materialcost" value="{{.EditTask.Task.MaterialCost}}">
        </div>
      </div>
    </fieldset>
    <div class="row">
      <input type="button" class="button-outline md-close column" value="Cancel">
      <button class="button-primary md-save column">Add New</button>
    </div>
  </form>    
</div>
<div class="md-overlay"></div>

</div>
