<div class="action-grid">
	<div class="action__item" url="tools">
		<div class="action__title">Tools</div>
		<div class="action__icon"><i class="fa fa-cubes fa-lg"></i></div>
		<div class="action__text">
			Tools list for this type of machine.
		</div>
	</div>
	<div class="action__item" url="parts">
		<div class="action__title">Parts</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			Complete parts list for this type of machine.
		</div>
	</div>
</div>