<div class="action-grid">
	<div class="action__item" url="/part/stock">
		<div class="action__title">Stock Control</div>
		<div class="action__icon"><i class="fa fa-book fa-lg"></i></div>
		<div class="action__text">
			Maintain Stock Control information for this part.
		</div>
	</div>
	<div class="action__item" url="/part/prices">
		<div class="action__title">Pricing</div>
		<div class="action__icon"><i class="fa fa-dollar fa-lg"></i></div>
		<div class="action__text">
			View Cost / Pricing information for this part.
		</div>
	</div>
</div>