<div class="md-content">
	<h3>Raise New Issue</h3>	
  {{if .IsTool}}
	<h4>{{.Component.Name}} - {{.Machine.Name}} - {{.Machine.SiteName}}</h4>	
	{{else}}
	<h4>{{.NonTool}} - {{.Machine.Name}} - {{.Machine.SiteName}}</h4>	
	{{end}}

	<div id="issue-machine-diag" class="row"></div>
	<div>
	<form>
		<fieldset>
	    <label for="desc">Description of Problem</label>
	    {{if .IsTool}}
	    	<textarea id="evtdesc">Problem with {{.Component.Name}} tool on {{.Machine.Name}} machine.</textarea>
	    {{else}}
	    	<textarea id="evtdesc">Problem with {{.NonTool}} on {{.Machine.Name}} machine.</textarea>
	    {{end}}
	    <label for="photo">Upload Photo</label>
	    <input id="photo" name="photo" type="file">
		</fieldset>
	</form>
	</div>

	<div class="row">
		<button class="column button-outline md-close">Cancel</button>
		<button class="column button-primary md-save">Raise Event</button>
	</div>
</div>
