<div class="md-content">

	<div id="issue-machine-diag"></div>

	<h3>Raise Issue</h3>	
	<div>
	<form>
		<fieldset>
	    <label for="machineID">Machine ID</label>
	    <input type="text" value="{{.MachineID}}" id="machineID" name="machineID">		

	    <label for="compID">Component ID</label>
	    <input type="text" value="{{.CompID}}" id="compID" name="compID">		

	    <label for="desc">Description of Problem</label>
	    <textarea id="desc"></textarea>
		</fieldset>
	</form>
	</div>

	<div class="row">
		<button class="column button-outline md-close">Cancel</button>
		<button class="column button-primary md-save">Raise Event</button>
	</div>
</div>
