{{$parentSite := .Site.ParentSite}}
{{$stockSite := .Site.StockSite}}

<div class="data-container">

  <form class="grid-form">
    <fieldset>
      <legend><h3><i class="fa fa-industry fa-lg" style="font-size: 3rem"></i>  Site Details - {{.Site.Name}}</h3></legend>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Name</label>
          <input type="text" name="name" value="{{.Site.Name}}">
        </div>
      </div>
      <div data-row-span="2">
        <div data-field-span="1">
          <label>Parent Site</label>
          <select name="parentSite" id="parentSite">
            <option value="" title=""></option>
            {{range .Sites}}
              <option value="{{.ID}}" title="{{.Name}}" {{if eq .ID $parentSite}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
        <div data-field-span="1">
          <label>Stock Site</label>
          <select name="stockSite" id="stockSite">
            <option value="" title=""></option>
            {{range .Sites}}
              <option value="{{.ID}}" title="{{.Name}}" {{if eq .ID $stockSite}}selected{{end}}>{{.Name}}</option>
            {{end}}
          </select>
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Address</label>
          <input type="text" name="address" value="{{.Site.Address}}">
        </div>
      </div>
      <div data-row-span="2">
        <div data-field-span="1">
          <label>Phone</label>
          <input type="text" name="phone" value="{{.Site.Phone}}">
        </div>
        <div data-field-span="1">
          <label>Fax</label>
          <input type="text" name="fax" value="{{.Site.Fax}}">
        </div>
      </div>
      <div data-row-span="1">
        <div data-field-span="1">
          <label>Notes</label>
          <textarea id="notes" name="notes">{{.Site.Notes}}</textarea>
        </div>
      </div>
    </fieldset>
    <div class="row">
      <div class="column">
        <div class="button-bar">
          <button class="button-outline md-close">Cancel</button>
          <button class="button-primary md-save">Save</button>                        
        </div>
      </div>
    </div>
  </form>

</div>
<div id="action-grid"></div>
