<div class="fluid skipheader">
	<div class="row">
    {{if .MultiSite}}
		<div class="column column-30">	
      <svg xmlns="http://www.w3.org/2000/svg" 
        height="190" width="305">
        <defs>
          <radialGradient id="GreenBtn">
              <stop offset="10%" stop-color="#4f2"/>
              <stop offset="95%" stop-color="#2a1"/>
          </radialGradient>
          <radialGradient id="YellowBtn">
              <stop offset="10%" stop-color="#ff0">
                <animate attributeName="stop-color"
                values="#da2;#ee0;#ff0;#ff0;#ee0;#da2"
                dur="0.8s"
                repeatCount="indefinite" />
              </stop>
              <stop offset="95%" stop-color="#da2"/>
          </radialGradient>
          <radialGradient id="RedBtn">   <!--  fx="60%" fy="30%"> -->
              <stop offset="10%" stop-color="#fa0">
                <animate attributeName="stop-color"
                values="#f00;#f80;#fa0;#f80;#f00"
                dur="0.8s"
                repeatCount="indefinite" />
              </stop>
              <stop offset="95%" stop-color="#e00">
                <animate attributeName="stop-color"
                values="#800;#a00;#f00;#a00;#800"
                dur="0.8s"
                repeatCount="indefinite" />
              </stop>
          </radialGradient>
        </defs>

        <image xlink:href="/img/aust.png" x="1" y="1" height="182px" width="201px" id="austmap"/>
        <text x="60" y="160">Edinburgh</text>
        <g stroke="black" fill="url(#{{.Status.EButton}})">
          <circle cx="125" cy="130" r="7"/>
        </g>
        <text x="202" y="102">Chinderah</text>
        <g stroke="black" fill="url(#{{.Status.CButton}})">
          <circle cx="190" cy="100" r="7"/>
        </g>
        <text x="200" y="122">Tomago</text>
        <g stroke="black" fill="url(#{{.Status.TButton}})">
          <circle cx="190" cy="115" r="7"/>
        </g>
        <text x="190" y="142">Minto</text>
        <g stroke="black" fill="url(#{{.Status.MButton}})">
          <circle cx="180" cy="130" r="7"/>
        </g>
      </svg>
		</div>
    {{end}}
		<div class="column column-70">
	    <h1>{{.Site.Name}}</h1>		
		</div>
	</div>  <!-- Map of Australia -->

<!-- Give it a menu on the right -->
<nav class="cbp-spmenu cbp-spmenu-vertical cbp-spmenu-right" id="machine-menu">
</nav>
<!-- End of menu -->


<!-- Raise issue modal dialog -->
<div class="md-modal md-effect-12" id="raise-comp-issue"></div>
<div class="md-overlay"></div>

<!-- Grid of machines -->
<div class="row row-wrap" style="flex-wrap: wrap">

	{{range .Machines}}
	<div class="column span-{{.Span}}" id="machine-div-{{.ID}}" machine-id="{{.ID}}">
  <svg class="svg-panel" xmlns="http://www.w3.org/2000/svg" 
    	 width="95%"
    	 viewBox="0 0 {{.SVGWidth1}} 200">
    <defs>
      <linearGradient id="grad1" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" style="stop-color:#eee;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#869ab1;stop-opacity:1" />
      </linearGradient>
      <linearGradient id="bgrad" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" style="stop-color:#fff;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#9ac;stop-opacity:1" />
      </linearGradient>
      <linearGradient id="bgradh" x1="0%" y1="0%" x2="100%" y2="100%">
        <stop offset="0%" style="stop-color:#fff;stop-opacity:1" />
        <stop offset="100%" style="stop-color:#abd;stop-opacity:1" />
      </linearGradient>
      <filter id="shadow" x="-20%" y="-20%" width="140%" height="140%">
        <feGaussianBlur stdDeviation="2 2" result="shadow"/>
        <feOffset dx="3" dy="3"/>
      </filter>      
      <filter id="shadow1" x="0" y="0" width="200%" height="200%">
        <feOffset result="offOut" in="SourceAlpha" dx="1" dy="1" />
        <feGaussianBlur result="blurOut" in="offOut" stdDeviation="10" />
        <feBlend in="SourceGraphic" in2="blurOut" mode="normal" />
      </filter>
      <radialGradient id="GreenBtn">
          <stop offset="10%" stop-color="#4f2"/>
          <stop offset="95%" stop-color="#2a1"/>
      </radialGradient>
      <radialGradient id="DullGreenBtn">
          <stop offset="10%" stop-color="#898"/>
          <stop offset="95%" stop-color="#888"/>
      </radialGradient>
      <radialGradient id="YellowBtn">
          <stop offset="10%" stop-color="#ff0">
            <animate attributeName="stop-color"
            values="#da2;#ee0;#ff0;#ff0;#ee0;#da2"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#da2"/>
      </radialGradient>
      <radialGradient id="DullYellowBtn">
          <stop offset="10%" stop-color="#998"/>
          <stop offset="95%" stop-color="#888"/>
      </radialGradient>
      <radialGradient id="RedBtn">   <!--  fx="60%" fy="30%"> -->
          <stop offset="10%" stop-color="#fa0">
            <animate attributeName="stop-color"
            values="#f00;#f80;#fa0;#f80;#f00"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
          <stop offset="95%" stop-color="#e00">
            <animate attributeName="stop-color"
            values="#800;#a00;#f00;#a00;#800"
            dur="0.8s"
            repeatCount="indefinite" />
          </stop>
      </radialGradient>
    </defs>

    <!-- Add picture for uncoiler -->
    <g stroke="#114" stroke-width="2" class="fillhover" tooltype="Component" component="Uncoiler">    
      <title>Raise Event on Uncoiler</title>
      <polygon points="30,90 0,148 60,148" fill="url(#grad1)"/>
      <circle cx="30" cy="90" r="30" fill="{{.NonToolBg .Uncoiler}}"/>
    </g>

    <!-- Add buttons for elec, etc -->
    <g stroke="#114" stroke-width="1" class="fillhover"  tooltype="Component" component="Electrical">
      <title>Electrical</title>
      <rect x="0" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Electrical}}"/>
      <image xlink:href="/img/elec.png" x="1" y="2" height="38px" width="38px"/>
    </g>  
    <g stroke="#114" stroke-width="1" class="fillhover" tooltype="Component" component="Hydraulic">
      <title>Hydraulic</title>
      <rect x="50" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Hydraulic}}"/>
      <image xlink:href="/img/hydraulic.png" x="51" y="2" height="38px" width="38px"/>
    </g>
    <g stroke="#114" stroke-width="1" class="fillhover" tooltype="Component" component="Pnuematic">
      <title>Pnuematic</title>
      <rect x="100" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Lube}}"/>
      <image xlink:href="/img/pnue.png" x="101" y="2" height="38px" width="38px"/>
    </g>
     <g stroke="#114" stroke-width="1" class="fillhover" tooltype="Component" component="Lube">
      <title>Lube</title>
      <rect x="150" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Lube}}"/>
      <image xlink:href="/img/lube.png" x="151" y="2" height="38px" width="38px"/>
    </g>
    <g stroke="#114" stroke-width="1" class="fillhover" tooltype="Component" component="Printer">
      <title>Printer</title>
      <rect x="200" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Printer}}"/>
      <image xlink:href="/img/printer.png" x="201" y="2" height="38px" width="38px"/>
    </g>
    <g stroke="#114" stroke-width="1" class="fillhover" tooltype="Component" component="Console">
      <title>Console</title>
      <rect x="250" y="0" width="40" rx="3" ry="3" height="40" class="bhover"
            fill="{{.NonToolBg .Console}}"/>
      <image xlink:href="/img/console.png" x="251" y="2" height="38px" width="38px"/>
    </g>
    
    <!-- Add main rectangle -->
    <rect x="80" y="100" width="{{.SVGWidth2}}" 
      height="48" stroke="black" stroke-width="2" fill="url(#grad1)"/>
    <text transform="translate(100 135)" style="font-size: 22;">{{.Name}}</text>

    <!-- Add the status indicators -->
    <g stroke="black" fill="{{.SVGStatus}}">
      <circle cx="{{.SVGX}}" cy="125" r="18"/>
    </g>
    <g stroke="#114" stroke-width="2" class="fillhover" tooltype="Component" component="Rollbed">
      <title>Roll Bed</title>
  
    <rect x="80" y="60" width="30" height="40" fill="{{.NonToolBg .Rollbed}}"/>
      <circle cx="95" cy="73" r="6" fill="#ccc"/>
      <circle cx="95" cy="87" r="6" fill="#ccc"/>
    <rect x="115" y="60" width="30" height="40" fill="{{.NonToolBg .Rollbed}}"/>
      <circle cx="130" cy="73" r="6" fill="#ccc"/>
      <circle cx="130" cy="87" r="6" fill="#ccc"/>
    <rect x="150" y="60" width="30" height="40" fill="{{.NonToolBg .Rollbed}}"/>
      <circle cx="165" cy="73" r="6" fill="#ccc"/>
      <circle cx="165" cy="87" r="6" fill="#ccc"/>
    <rect x="185" y="60" width="30" height="40" fill="{{.NonToolBg .Rollbed}}"/>
      <circle cx="200" cy="73" r="6" fill="#ccc"/>
      <circle cx="200" cy="87" r="6" fill="#ccc"/>
    </g>

    <!-- Now draw all the tools     -->
    {{range $index,$comp := .Components}}
    <svg x="{{$comp.SVGX $index}}" 
         class="tooltip tooltip--ne"
         tooltype="Tool" 
         toolid="{{$comp.ID}}">
         <title>{{$comp.Name}}</title>
      <a>
      <rect x="16" y="0" width="15" height="20" stroke="black" stroke-width="1" fill="#ddd"/>
      <rect y="20" width="45" rx="10" ry="10" height="80" stroke="black" stroke-width="2" 
            fill="{{$comp.SVGFill}}"
            class="hoverme"/>
      <text x="5" y="50">{{$comp.SVGName $index}}</text>
      </a>
    </svg>
    {{end}}

  <!-- Now draw the conveyor -->
  <rect x="80" y="150" rx="10" ry="10" width="{{.SVGWidth2}}" 
    height="22" stroke="black" stroke-width="2" fill="url(#grad1)"
    class="hoverme"/>
  <text transform="translate(100 164)" style="font-size: 14;">Conveyor</text>


    </svg>

		</div>		
	{{end}}
	</div>
</div>

