<div class="action-grid">
	<div class="action__item" url="/site/sched/{{.}}">
		<div class="action__title">Maint Schedules</div>
		<div class="action__icon"><i class="fa fa-wrench fa-lg"></i></div>
		<div class="action__text">
			All Maintenance Schedules for this site.
		</div>
	</div>
	<div class="action__item" url="/site/machine/{{.}}">
		<div class="action__title">Machines</div>
		<div class="action__icon"><i class="fa fa-cogs fa-lg"></i></div>
		<div class="action__text">
			View Machines used at this site
		</div>
	</div>
	<div class="action__item" url="/site/tasks/{{.}}">
		<div class="action__title">Tasks</div>
		<div class="action__icon"><i class="fa fa-server fa-lg"></i></div>
		<div class="action__text">
			Weekly Task Lists for this site, which includes both scheduled maintenance and stoppage events.
		</div>
	</div>
	<div class="action__item" url="/site/users/{{.}}">
		<div class="action__title">Users</div>
		<div class="action__icon"><i class="fa fa-user fa-lg"></i></div>
		<div class="action__text">
			User account details for this site.
		</div>
	</div>
	<div class="action__item" url="/site/reports/{{.}}">
		<div class="action__title">Reports</div>
		<div class="action__icon"><i class="fa fa-bar-chart fa-lg"></i></div>
		<div class="action__text">
			Reports for this site.
		</div>
	</div>
</div>