<div class="data-container">
  <div class="row data-table-header">
    <h3 id="header">
      <i class="fa fa-cogs fa-lg" style="font-size: 3rem"></i> 
      Machine List for {{.Site.Name}}
    </h3>
    <div class="column col-center">
      <i class="data-add-btn fa fa-plus-circle fa-lg"></i>    
    </div>    
  </div>

<table class="data-table" id="machine-list">
  <thead>
    <tr>
      <th>Name</th>
      <th>Descr</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
{{range .Machines}}  
    <tr class="data-row" 
        key="{{.ID}}">
      <td>{{.Name}}</td>
      <td>{{.Descr}}</td>
      <td>{{.Status}}</td>
    </tr>
{{end}}  
  <tbody>
  </tbody>
</table>

</div>