{{$hdr := .GetHeaderText}}
{{$body := .GetDescrText}}
{{if $hdr}}
	<h2>{{$hdr}}</h2>
{{end}}
<pre>{{$body}}</pre>
{{range .Checks}}
<div class="row row-wrap" style="flex-wrap: wrap">
	<div class="column">
		<input type="checkbox" id="seq-{{.Seq}}" key="{{.Seq}}" {{if .Done}}checked{{end}}>
		<label class="label-inline" for="seq-{{.Seq}}"> {{.Seq}}) {{.Descr}} {{if .DoneDate}} (Complete {{.ShowDoneDate}}){{end}}</label>
	</div>
</div>
{{end}}