<div class="action-grid">
	{{if .AllDone}}
	<div class="action__item" url="/task/complete/{{.ID}}">
		<div class="action__title">Complete</div>
		<div class="action__icon"><i class="fa fa-thumbs-up fa-lg"></i></div>
		<div class="action__text">
			<b>TODO</b><br>
			Mark this task as complete.
		</div>
	</div>
	{{end}}
<!-- 
	<div class="action__item" url="/task/parts/{{.ID}}">
		<div class="action__title">Parts</div>
		<div class="action__icon"><i class="fa fa-puzzle-piece fa-lg"></i></div>
		<div class="action__text">
			<b>TODO</b><br>
			Select Spare Parts used in this job.
		</div>
	</div>
	 -->
</div>